wp3_portal/__pycache__/*

wp3_basic/__pycache__/*
wp3_basic/migrations/__pycache__/*

wp3_broker/__pycache__/*
wp3_broker/migrations/__pycache__/*

portal_auth/__pycache__/*
portal_auth/migrations/__pycache__/*

aircrack_ng_broker/__pycache__/*
aircrack_ng_broker/migrations/__pycache__/*
aircrack_ng_broker/scan_results/tmp/*

db.sqlite3

wifiphisher_broker/__pycache__/*
wifiphisher_broker/migrations/*
wifiphisher_broker/migrations/__pycache__/*
wifiphisher_broker/logs/temp/*
wifiphisher_broker/logs/*