lelantos/__pycache__/*
lelantos_base/__pycache__/*
lelantos_base/migrations/__pycache__/*
lelantos_base/migrations/*

lelantos_base/management/__pycache__/*
lelantos_base/management/commands/__pycache__/*

wp3_broker/__pycache__/*
wp3_broker/migrations/__pycache__/*

utils/__pycache__/*

portal_auth/__pycache__/*
portal_auth/migrations/__pycache__/*

aircrack_ng_broker/__pycache__/*
aircrack_ng_broker/migrations/*
aircrack_ng_broker/migrations/__pycache__/*
aircrack_ng_broker/scan_results/tmp/*

*.sqlite3

wifiphisher_broker/__pycache__/*
wifiphisher_broker/migrations/*
wifiphisher_broker/migrations/__pycache__/*
wifiphisher_broker/logs/temp/*
wifiphisher_broker/logs/*

analysis/__pycache__/*
analysis/migrations/__pycache__/*
analysis/migrations/*

_archive/*
dbWithGeo.sqlite3.old

# Separate git repo
ConvertGraphToXMLForDrawIO*
ConvertGraphToXMLForDrawIO/*

ConvertGraphToXMLForDrawIO/**/*
