# Base Project
lelantos/__pycache__/*

# Base App
lelantos_base/__pycache__/*
lelantos_base/migrations/__pycache__/*
lelantos_base/migrations/*
lelantos_base/management/commands/__pycache__/
lelantos_base/management/__pycache__/*
lelantos_base/tests/__pycache__/*

# Wifipumpkin (deprecated)
_wp3_broker/__pycache__/*
_wp3_broker/migrations/__pycache__/*

# utils
utils/__pycache__/*

# Auth module
portal_auth/__pycache__/*
portal_auth/migrations/__pycache__/*
portal_auth/tests/__pycache__/*

# Wifi-sniffing (aircrack-ng)
aircrack_ng_broker/__pycache__/*
aircrack_ng_broker/migrations/*
aircrack_ng_broker/migrations/__pycache__/*
aircrack_ng_broker/scan_results/tmp/*
aircrack_ng_broker/tests/__pycache__/*

# database
*.sqlite3

# Captive portals (wifiphisher)
wifiphisher_broker/__pycache__/*
wifiphisher_broker/migrations/*
wifiphisher_broker/migrations/__pycache__/*
# wifiphisher_broker/logs/temp/*
# wifiphisher_broker/logs/*
wifiphisher_broker/tests/__pycache__/*

# Analysis
analysis/__pycache__/*
analysis/migrations/__pycache__/*
analysis/migrations/*
analysis/tests/__pycache__/*

# Separate git repo
# ConvertGraphToXMLForDrawIO*
# ConvertGraphToXMLForDrawIO/*
# ConvertGraphToXMLForDrawIO/**/*
