{% extends "wp3_basic/base.html" %}
{% block content %}
    {% load static %}

    {% if user.is_authenticated %}
        <div class="card" style="width: 38rem;">
            <img class="card-img-top" src="{% static 'wp3_basic/imgs/scan/scanDragon.png' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Scan</h5>
                <!-- <a href="#" class="btn btn-primary">Edit Config</a>
                <a href="#" class="btn btn-primary">Refresh API Token</a> -->
                <em>Available Devices:</em>
                <div>
                    <form method="POST" action="{% url 'ng_wifi_run_scan' %}">
                    {% csrf_token %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                <th scope="col">Physical</th>
                                <th scope="col">Interface</th>
                                <th scope="col">Driver</th>
                                <th scope="col">Chipset</th>
                                <th scope="col">Selected</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for device_info in info %}
                                    <tr>
                                        <td>{{ device_info.Phy }}</td>
                                        <td>{{ device_info.Interface }} </td>
                                        <td>{{ device_info.Driver }}</td>
                                        <td>{{ device_info.Chipset }}</td>
                                        <td>
                                            <!--<a href="#" class="btn btn-primary">
                                                Scan
                                            </a>-->
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="wifiInterfaceSelect" id="{{ device_info.Interface }}", value="{{ device_info.Interface }}">
                                                <label class="form-check-label" for="wifiInterfaceSelect">
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                            <div class="slidecontainer">
                                <button class="btn btn-primary" type="submit">
                                    Scan
                                </button>
                                <em>Scan Time:</em>
                                <input type="range" min="1" max="120" value="10" class="form-slider" id="myRange" name="scanTime">
                            </div>
                            <div class="card-body">
                                Historic Scans
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Duration(s)</th>
                                        <th scope="col">Interface</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for historic_scan in historic_scans %}
                                            <tr>
                                                
                                                <td><a href="{% url 'ng_wifi_show_scan_results' %}?scan_id={{ historic_scan.id }}">{{ historic_scan.start_time }}</a></td>
                                                <td>{{ historic_scan.duration_s }} </td>
                                                <td>{{ historic_scan.interface }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <br>
                    </div>
                <form>
            </div>
        </div>
    {% endif %}
{% endblock %}

