{% extends "lelantos_base/base.html" %}
{% block content %}
    {% load static %}
    <div class="row"  style="width: 46rem;">
        <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white" 
            style="background-image: url('{% static 'lelantos_base/imgs/lelantos-edit.jpg' %}');
                    height: 100vh; width: 100vw">
                <h1 class="mb-3 h2">Lelantos</h1>

                <p>
                    One of the younger Titanes - god of moving unseen and a hunter's skill at stalking prey
                </p>

                <br>

                <p>
                    This is a multi-purpose, extensible, platform for executing, orchestrating and analysing
                    digital-footprint exploits
                </p>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <h2 class="mb-3 h3">Motivation</h2>

                <p>
                    As society becomes more and more reliant on online, vastly interconnected, networks it becomes impossible to 
                    navigate the modern world without leave behind a trail of digital data points - the digital footprint
                </p>
                <br>
                <p>
                    This, increasingly information-rich, digital footprint can be used as a threat surface by bad actors 
                    for nefarious purposes including harvesting sensitive information, conducting offensive open-source intelligence (OSINT) 
                    operations, and gaining starting points for further exploits such as social engineering attacks 
                </p>
                <br>
                <p>
                    This projects aims to raise awareness of the risks presented through digital 
                    footprint exploitation using (and extending) readily available technologies 
                    to demonstrate the risk online users are exposed to, often without their knowledge.
                </p>
        </div>
    </div>

    <div class="row"  style="width: 46rem;">
        <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white" 
            style="background-image: url('{% static 'lelantos_base/imgs/lelantos-edit.jpg' %}');
                    height: 100vh; width: 100vw">
                <h1 class="mb-3 h2">useful Links</h1>

                <p>
                    Platform tutorial
                </p>

                <p>
                    wifiphisher
                </p>

                <p>
                    aircrack-ng
                </p>

                <p>
                    OSINT
                </p>
        </div>
    </div>

               

       
{% endblock %}

