{% extends "wp3_basic/base.html" %}
{% block content %}
    {% load static %}
    {% if user.is_authenticated %}
        <div>

            <h5>Analysis<h5>

                
                <!-- Optional clustering -->
                {% if clustered %}
                    <a href="?{{ modelParamReq }}" class="btn btn-primary {{ disableClustering }}" aria-disabled="true">uncluster markers</a>
                {% else %}
                    <a href="?clusterMarkers&{{ modelParamReq }}" class="btn btn-primary {{ disableClustering }}">cluster markers</a>
                {% endif %}

                <!-- Locations (Home) -->
                <a href="{% url 'analysis_home' %}" class="btn btn-primary">locations</a>

                <!-- Analysis Options -->
                <div class="btn-group">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Display Results
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for modelResultOption in modelResultOptions %}
                            <a class="dropdown-item" href="{% url 'analysis_by_model' %}?app_label={{ modelResultOption.app_label }}&model_name={{ modelResultOption.model_name }}">{{ modelResultOption.model_name }}s</a>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="btn-group">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="newButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Show Networks
                    </button>
                    <div class="dropdown-menu" aria-labelledby="newButton">
                        {% for modelResultOption in modelResultOptions %}
                            <a class="dropdown-item" href="{% url 'model_network' %}?app_label={{ modelResultOption.app_label }}&model_name={{ modelResultOption.model_name }}">{{ modelResultOption.model_name }}_Network</a>
                        {% endfor %}
                    </div>
                </div>

            

            <br>
            <br>

            <!-- Template Content -->
            {% block analysisMainDisplay %}
            {% endblock %}
            {% block analysisFootDisplay %}
            {% endblock %}
            
        </div>
    {% endif %}
{% endblock %}
