{% extends "wp3_basic/base.html" %}
{% block content %}
    {% load static %}
    {% if user.is_authenticated %}
        <div>

            <h5>Analysis<h5>

            <div class="form-check form-switch">
                {% if clustered %}
                <a href="{% url 'analysis_by_creds' %}" class="btn btn-primary">uncluster markers</a>
                {% else %}
                <a href="{% url 'analysis_by_creds' %}?clusterMarkers" class="btn btn-primary">cluster markers</a>
                {% endif %}
                <a href="{% url 'analysis_home' %}?clusterMarkers" class="btn btn-primary">locations</a>
                <a href="{% url 'analysis_by_creds' %}?clusterMarkers" class="btn btn-primary">Credentials</a>
                <a href="{% url 'network' %}" class="btn btn-primary">Credential Network</a>
                <a href="{% url 'analysis_by_device' %}?clusterMarkers" class="btn btn-primary">Devices</a>
            </div>

            <br>

            <!-- Map -->
            
            <p>Locations where credentials were captured</p>
                <div class="card" >
                    {{ map|safe }}
                </div>

            
            
            <br>
            <!-- Credential Results -->
            <p>All Credentials</p>
            <div class="card" >
                <table class="table table">
                    <thead>
                        <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Username</th>
                        <th scope="col">Password</th>
                        <th scope="col">Username:Password</th>
                        <th scope="col">FilterOnAll</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cred in uniqueCreds %}
                            <tr>
                                <td><a href="{% url 'analysis_by_specific_cred' %}?clusterMarkers&type={{ cred.type }}">{{ cred.type }}</a></td>
                                <td><a href="{% url 'analysis_by_specific_cred' %}?clusterMarkers&username={{ cred.username }}">{{ cred.username }}</a></td>
                                <td><a href="{% url 'analysis_by_specific_cred' %}?clusterMarkers&password={{ cred.password }}">{{ cred.password }}</a></td>
                                <td><a href="{% url 'analysis_by_specific_cred' %}?clusterMarkers&username={{ cred.username }}&password={{ cred.password }}">filter</a></td>
                                <td><a href="{% url 'analysis_by_specific_cred' %}?clusterMarkers&type={{ cred.type }}&username={{ cred.username }}&password={{ cred.password }}">filter</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
