{% extends "wp3_basic/base.html" %}
{% block content %}
    {% load static %}
    {% if user.is_authenticated %}
        <div>

            <h5>Analysis<h5>

            <div class="form-check form-switch">
                {% if clustered %}
                <a href="{% url 'analysis_by_creds' %}" class="btn btn-primary">uncluster markers</a>
                {% else %}
                <a href="{% url 'analysis_by_creds' %}?clusterMarkers" class="btn btn-primary">cluster markers</a>
                {% endif %}
                <a href="{% url 'analysis_home' %}?clusterMarkers" class="btn btn-primary">show by locations</a>
                <a href="{% url 'analysis_by_creds' %}?clusterMarkers" class="btn btn-primary">show by credentials</a>
                <a href="{% url 'analysis_by_device' %}?clusterMarkers" class="btn btn-primary">show by devices</a>
            </div>

            <br>
            <p>Credentials coloured by matching username</p>
            
                {{ map|safe }}
            
            <div>
                <button class="btn btn-primary" type="submit">
                    Button
                </button>
            </div>
        </div>
    {% endif %}
{% endblock %}
