{% extends "wp3_basic/base.html" %}
{% block content %}
    {% load static %}
    {% if user.is_authenticated %}
        <div>

            <h5>Analysis<h5>

            <div class="form-check form-switch">
                {% if clustered %}
                <a href="{% url 'analysis_by_specific_cred' %}?{{ reqParamString }}" class="btn btn-primary">uncluster markers</a>
                {% else %}
                <a href="{% url 'analysis_by_specific_cred' %}?clusterMarkers&{{ reqParamString }}" class="btn btn-primary">cluster markers</a>
                {% endif %}
                <a href="{% url 'analysis_home' %}" class="btn btn-primary">locations</a>
                <a href="{% url 'analysis_by_creds' %}" class="btn btn-primary">Credentials</a>
                <a href="{% url 'credentialNetwork' %}" class="btn btn-primary">Credential Network</a>
                <a href="{% url 'analysis_by_device' %}" class="btn btn-primary">Devices</a>
                <a href="{% url 'deviceNetwork' %}" class="btn btn-primary">Device Network</a>
            </div>

            <br>

            <!-- Map -->
            
            <p>{{ displayMsg }}</p>
                <div class="card" >
                    {{ map|safe }}
                </div>

            
            
            <br>
            <!-- Credential Results -->
            <p>All Credentials</p>
            <p><small>"type:username:password" assumed to uniquely identifier a credential</small></p>
            <div class="card" >
                <table class="table table">
                    <thead>
                        <tr>
                        {% for id in uniqueFieldIdentifiers %}
                        <th scope="col">{{ id }}</th>
                        {% endfor %}
                        <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dev in uniqueModels %}
                            <tr>
                                <!-- loop each key,val defining model -->
                                {% for devKey, devValue in dev.modelDict.items %}
                                    <td><a href="{% url 'analysis_by_specific_cred' %}?{{ devKey }}={{ devValue }}">{{ devValue }}</a></td>
                                {% endfor %}
                                <!-- add the overall filter -->
                                <td><a href="{% url 'analysis_by_specific_cred' %}?{{ dev.modelTotalFilterReq }}">View</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
