{% extends "wp3_basic/base.html" %}
{% block content %}
    {% load static %}
    {% if user.is_authenticated %}
        <div>

            <h5>Analysis<h5>

            <div class="form-check form-switch">
                {% if clustered %}
                <a href="{% url 'analysis_by_device' %}" class="btn btn-primary">uncluster markers</a>
                {% else %}
                <a href="{% url 'analysis_by_device' %}?clusterMarkers" class="btn btn-primary">cluster markers</a>
                {% endif %}
                <a href="{% url 'analysis_home' %}" class="btn btn-primary">locations</a>
                <a href="{% url 'analysis_by_creds' %}" class="btn btn-primary">Credentials</a>
                <a href="{% url 'credentialNetwork' %}" class="btn btn-primary">Credential Network</a>
                <a href="{% url 'analysis_by_device' %}" class="btn btn-primary">Devices</a>
                <a href="{% url 'deviceNetwork' %}" class="btn btn-primary">Device Network</a>
            </div>

            <br>

            <!-- Map -->
            
            <p>Locations where devices were seen</p>
                <div class="card" >
                    {{ map|safe }}
                </div>

            
            
            <br>
            <!-- Credential Results -->
            <p>All Devices</p>
            <p><small>WARNING: "mac_addr:type" assumed to be unique identifier however 
            with rotating mac address security protocols this is not true hence this if POC only</small></p>
            <div class="card" >
                <table class="table table">
                    <thead>
                        <tr>
                        {% for id in uniqueFieldIdentifiers %}
                        <th scope="col">{{ id }}</th>
                        {% endfor %}
                        <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dev in uniqueModels %}
                            <tr>
                                <td><a href="{% url 'analysis_by_specific_dev' %}?mac_addr={{ dev.mac_addr }}">{{ dev.mac_addr }}</a></td>
                                <td><a href="{% url 'analysis_by_specific_dev' %}?type={{ dev.type }}">{{ dev.type }}</a></td>
                                <td><a href="{% url 'analysis_by_specific_dev' %}?mac_addr={{ dev.mac_addr }}&type={{ dev.type }}">View</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
