{% extends "wp3_basic/base.html" %}
{% block content %}
    {% load static %}
    {% if user.is_authenticated %}
     

            <h5>Analysis<h5>

            <div class="form-check form-switch">
                <a href="#" class="btn btn-primary">cluster markers</a>
                <a href="{% url 'analysis_home' %}?clusterMarkers" class="btn btn-primary">locations</a>
                <a href="{% url 'analysis_by_creds' %}?clusterMarkers" class="btn btn-primary">Credentials</a>
                <a href="{% url 'credentialNetwork' %}" class="btn btn-primary">Credential Network</a>
                <a href="{% url 'analysis_by_device' %}?clusterMarkers" class="btn btn-primary">Devices</a>
                <a href="{% url 'deviceNetwork' %}" class="btn btn-primary">Device Network</a>
            </div>

            <br>
            <p>Credentials Networked by co-location </p>
            <p><small>"type:username:password" assumed to uniquely identifier a credential</small></p>

          
            {{ networkGraph|safe }}
            <br>
            <p>Credentials with no connections</p>
            <div class="card" >
                <table class="table table">
                    <thead>
                        <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Password</th>
                        <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cred in nodesWithNoEdges %}
                            <tr>
                                <td><a href="{% url 'analysis_by_specific_cred' %}?clusterMarkers&username={{ cred.username }}">{{ cred.username }}</a></td>
                                <td><a href="{% url 'analysis_by_specific_cred' %}?clusterMarkers&password={{ cred.password }}">{{ cred.password }}</a></td>
                                <td><a href="{% url 'analysis_by_specific_cred' %}?clusterMarkers&username={{ cred.username }}&password={{ cred.password }}">View</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <p>Credentials with Connections</p>
            <div class="card" >
                <table class="table table">
                    <thead>
                        <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Password</th>
                        <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cred in nodesWithEdges %}
                            <tr>
                                <td><a href="{% url 'analysis_by_specific_cred' %}?clusterMarkers&username={{ cred.username }}">{{ cred.username }}</a></td>
                                <td><a href="{% url 'analysis_by_specific_cred' %}?clusterMarkers&password={{ cred.password }}">{{ cred.password }}</a></td>
                                <td><a href="{% url 'analysis_by_specific_cred' %}?clusterMarkers&username={{ cred.username }}&password={{ cred.password }}">View</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>       
            
    
    {% endif %}
{% endblock %}
