{% extends "analysis/_analysisBase.html" %}

{% block analysisMainDisplay %}
<!-- Map -->
<p>{{ map_title }}</p>
<p><small>{{ map_sub_title }}</small></p>
    <div class="card" >
        {{ map|safe }}
    </div>

<br>
{% endblock %}

{% block analysisFootDisplay %}            
<!-- Results Table -->
<p>{{ model_name }}(s) with no connections</p>
<div class="card" >
    <table class="table table">
        <thead>
            <tr>
            {% for id in uniqueFieldIdentifiers %}
            <th scope="col">{{ id }}</th>
            {% endfor %}
            <th scope="col">View</th>
            </tr>
        </thead>
        <tbody>
            {% for dev in nodesWithNoEdges %}
                <tr>
                    <!-- loop each key,val defining model -->
                    {% for devKey, devValue in dev.modelDict.items %}
                        <td><a href="{% url 'analysis_by_specific_model_result' %}?{{ modelParamReq }}&{{ devKey }}={{ devValue }}">{{ devValue }}</a></td>
                    {% endfor %}
                    <!-- add the overall filter -->
                    <td><a href="{% url 'analysis_by_specific_model_result' %}?{{ modelParamReq }}&{{ dev.modelTotalFilterReq }}">View</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<p>{{ model_name }}(s) with connections</p>
<div class="card" >
    <table class="table table">
        <thead>
            <tr>
            {% for id in uniqueFieldIdentifiers %}
            <th scope="col">{{ id }}</th>
            {% endfor %}
            <th scope="col">View</th>
            </tr>
        </thead>
        <tbody>
            {% for dev in nodesWithEdges %}
                <tr>
                    <!-- loop each key,val defining model -->
                    {% for devKey, devValue in dev.modelDict.items %}
                        <td><a href="{% url 'analysis_by_specific_model_result' %}?{{ modelParamReq }}&{{ devKey }}={{ devValue }}">{{ devValue }}</a></td>
                    {% endfor %}
                    <!-- add the overall filter -->
                    <td><a href="{% url 'analysis_by_specific_model_result' %}?{{ modelParamReq }}&{{ dev.modelTotalFilterReq }}">View</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
