{% extends "analysis/_analysisBase.html" %}

{% block analysisMainDisplay %}
<!-- Map -->
<p>{{ map_title }}</p>
<p><small>{{ map_sub_title }}</small></p>
    <div class="card" >
        {{ map|safe }}
    </div>

<br>
{% endblock %}

{% block analysisFootDisplay %}            
<p>View Connection</p>
<div>

<form method="POST" action="{% url 'analysis_by_specific_model_result' %}?{{ modelParamReq }}">
    {% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="interface">Node 1</label>
        </div>
        <select class="custom-select" id="node1" name="node1">
            {% for node in allNodes %}
                <option value="{{ node }}">{{ node }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="interface">Node 2</label>
        </div>
        <select class="custom-select" id="node2" name="node2">
            {% for node in allNodes %}
                <option value="{{ node }}">{{ node }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">View Co-locations</button>
</form>

<br>

<!-- Results Table -->
<p>{{ model_name }}(s) with no connections</p>
<div class="card" >
    <table class="table table">
        <thead>
            <tr>
            {% for id in uniqueFieldIdentifiers %}
            <th scope="col">{{ id }}</th>
            {% endfor %}
            <th scope="col">View</th>
            </tr>
        </thead>
        <tbody>
            {% for dev in nodesWithNoEdges %}
                <tr>
                    <!-- loop each key,val defining model -->
                    {% for devKey, devValue in dev.modelDict.items %}
                        <td><a href="{% url 'analysis_by_specific_model_result' %}?{{ modelParamReq }}&{{ devKey }}={{ devValue }}">{{ devValue }}</a></td>
                    {% endfor %}
                    <!-- add the overall filter -->
                    <td><a href="{% url 'analysis_by_specific_model_result' %}?{{ modelParamReq }}&{{ dev.modelTotalFilterReq }}">View</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<p>{{ model_name }}(s) with connections</p>
<div class="card" >
    <table class="table table">
        <thead>
            <tr>
            {% for id in uniqueFieldIdentifiers %}
            <th scope="col">{{ id }}</th>
            {% endfor %}
            <th scope="col">View</th>
            </tr>
        </thead>
        <tbody>
            {% for dev in nodesWithEdges %}
                <tr>
                    <!-- loop each key,val defining model -->
                    {% for devKey, devValue in dev.modelDict.items %}
                        <td><a href="{% url 'analysis_by_specific_model_result' %}?{{ modelParamReq }}&{{ devKey }}={{ devValue }}">{{ devValue }}</a></td>
                    {% endfor %}
                    <!-- add the overall filter -->
                    <td><a href="{% url 'analysis_by_specific_model_result' %}?{{ modelParamReq }}&{{ dev.modelTotalFilterReq }}">View</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
