{% extends "wp3_basic/base.html" %}
{% block content %}
    {% load static %}
    {% if user.is_authenticated %}
        <div class="row">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'wp3_basic/imgs/server_health/serverHealth5.png' %}" alt="Card image cap">
                    <div class="col text-center">
                        <div class="card-body">
                            <h5 class="card-title">Wp3 Server</h5>
                            <p class="card-text">Check Wp3 server</p>
                            <a href="{% url 'wp3_server_health' %}" class="btn btn-primary">Server Status</a>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'wp3_basic/imgs/scan/scanDragon.png' %}" alt="Card image cap">
                    <div class="col text-center">
                        <div class="card-body">
                            <h5 class="card-title">Wifi Scan</h5>
                            <p class="card-text">Spin up wp3 Scan</p>
                            <a href="#" class="btn btn-primary">Scan</a>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'wp3_basic/imgs/ap/dragon2.png' %}" alt="Card image cap">
                    <div class="col text-center">
                        <div class="card-body">
                            <h5 class="card-title">Access Point</h5>
                            <p class="card-text">Spin up wp3 AP</p>
                            <a href="{% url 'wp3_ap_config' %}" class="btn btn-primary">AP</a>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'wp3_basic/imgs/captive_portal/dragon2.png' %}" alt="Card image cap">
                    <div class="col text-center">
                        <div class="card-body">
                            <h5 class="card-title">Captive Portal</h5>
                            <p class="card-text">Spin up wp3 Captive Portal</p>
                            <a href="#" class="btn btn-primary">Captive Portal</a>
                        </div>
                    </div>
                </div>
        </div>
    {% else %}
        <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'wp3_basic/imgs/home/pumpkinDragonLogo.png' %}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Login to start the fun!</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
            </div>
        </div>
    {% endif %}
{% endblock %}

