{% extends "wp3_basic/base.html" %}
{% block content %}
    {% load static %}

    {% if user.is_authenticated %}
        <div class="card" style="width: 26rem;">
            <img class="card-img-top" src="{% static 'wp3_basic/imgs/server_health/serverHealth5.png' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Server</h5>
                <p class="card-text">
                    Running: {{ server_running }}<br>
                    IP: {{ wp3_api_ip }}<br>
                    Port: {{ wp3_api_port }}<br>
                    Server Address: {{ wp3_server_address }}<br>
                    Username: {{ wp3_api_username }}<br>
                    Password: {{ wp3_api_password }}<br>
                    Connect Timeout: {{ wp3_api_connect_timeout }}<br>
                    Token Extension: {{ wp3_api_token_extension }}<br>
                    AP Config Extension: {{ wp3_api_ap_config_extension }}<br>
                </p>
                <a href="#" class="btn btn-primary">Edit Config</a>
                <a href="{% url 'wp3_get_api_auth_token' %}" class="btn btn-primary">Refresh API Token</a>
                <br>
                <br>
                <div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Show API Auth Token
                    </button>
                </div>
            </div>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                        Token: {{ api_token }}
                        <br><br>
                        Issued at: {{ api_token_issued_at }} 
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

