{% extends "wp3_basic/base.html" %}
{% block content %}
    {% load static %}

    {% if user.is_authenticated %}
        <div class="card" style="width: 38rem;">
            <img class="card-img-top" src="{% static 'wp3_basic/imgs/captive_portal/dragon2.png' %}" alt="Card image cap">
            <div class="card-body">
            
                <h4>Captive Portal</h4>
                <h5>Status: Not Running<h5>

                <!-- Captive Portal Form -->
                <form method="POST" action="{% url 'captive_portal_launch' %}">
                {% csrf_token %}

                    <!-- Interface -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="interface">Interface</label>
                        </div>
                        <select class="custom-select" id="interface" name="interface">
                            {% for interface in interfaces %}
                                <option value="{{ interface }}">{{ interface }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Scenario -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="scenario">Scenario</label>
                        </div>
                        <select class="custom-select" id="scenario" name="scenario">
                            {% for scenario in scenarios %}
                                <option value="{{ scenario }}">{{ scenario }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- ESSID -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">&#160 ESSID &#160</span>
                        </div>
                        <input type="text" class="form-control" id="essid" name="essid" aria-describedby="basic-addon3" value="test">
                    </div>

                    <!-- Launch! -->
                    <div>
                        <button class="btn btn-primary" type="submit">
                            Launch!
                        </button>
                    </div>
                </form>
            </div>

            <!-- Historic Captures -->
            <div class="card-body">
                <h5>Historic Captures</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th scope="col">Start</th>
                        <th scope="col">Finish</th>
                        <th scope="col">Scenario</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for hc in historic_captures %}
                            <tr>
                                
                                <td><a href="{% url 'home' %}?scan_id={{ hc.id }}">{{ hc.start_time }}</a></td>
                                <td>{{ hc.end_time }} </td>
                                <td>{{ hc.scenario }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

