{% extends "wp3_basic/base.html" %}
{% block content %}
    {% load static %}

    {% if user.is_authenticated %}
        <meta http-equiv="refresh" content="{{ update_rate }}" />
        <div class="card" style="width: 38rem;">
            <img class="card-img-top" src="{% static 'wp3_basic/imgs/captive_portal/dragon2.png' %}" alt="Card image cap">
            <div class="card-body">
            
                <h4>Captive Portal</h4>
                <h5>Status: Live<h5>

                <!-- Captive Portal Form -->

                <fieldset disabled>
                    <form method="POST" action="{% url 'home' %}">
                    {% csrf_token %}

                        <!-- Interface -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="interface">Interface</label>
                            </div>
                            <select class="custom-select" id="interface">
                                    <option>{{ monitor.interface }}</option>
                            </select>
                        </div>

                        <!-- Scenario -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="scenario">Scenario</label>
                            </div>
                            <select class="custom-select" id="scenario">
                                    <option>{{ monitor.scenario }}</option>
                            </select>
                        </div>

                        <!-- ESSID -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">&#160 ESSID &#160</span>
                            </div>
                            <input type="text" class="form-control" id="essid" aria-describedby="basic-addon3" value="{{ monitor.essid }}">
                        </div>
                    </form>
                </fieldset>

                <div class="card-body">
                    <a href="{% url 'captive_portal_monitor' %}">
                        <button class="btn btn-primary" type="submit">
                            Update Victims
                        </button>
                    </a>
                    <a href="{% url 'captive_portal_stop' %}">
                        <button class="btn btn-primary" type="submit">
                            Stop
                        </button>
                    </a>
                </div>
            </div>

            <!-- Historic Captures -->
            <div class="card-body">
                <h5>Current Victims</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th scope="col">MAC</th>
                        <th scope="col">IP</th>
                        <th scope="col">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vic in victims %}
                            <tr>
                                
                                <td>{{ vic.mac_addr }}</td>
                                <td>{{ vic.ip }} </td>
                                <td>{{ vic.type }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

